.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2); // Белая граница с небольшой прозрачностью
  padding: 20px 0;
  background-color: var(--color-black);
  color: var(--color-white);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;

    &:hover {
      color: var(--color-white);
    }
  }

  &__social{
    display: flex;
    gap: 50px;
    align-items: center;
    &-link{
        &-icon{
            width: 30px;
            height: 30px;
        }
    }
  }

  &__copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
  }
}