.button {
    // стили для кнопки
}

.glowing-circle {
    /* Размеры и форма */
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: absolute;

    /* Градиент с эффектом свечения */
    background: radial-gradient(circle at center,
            rgba(146, 62, 250, 0.2) 0%,
            rgba(146, 62, 250, 0.1) 40%,
            rgba(146, 62, 250, 0.01) 80%,
            transparent 100%
        );



    /* Дополнительные эффекты */
    filter: blur(1px);
    z-index: 1;

}
